{% extends 'base.html' %}

{% block titlebar %}
Twitta - Twitter without the E
{% endblock titlebar %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" style='position: sticky; top: 0px; z-index: 999;'>
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4 d-none d-sm-inline">Twitta</span>
                </a>
                <span class="fs-6 d-none d-md-inline">Twitter without the E</span>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house-fill"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="popular" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-graph-up"></i> <span class="ms-1 d-none d-sm-inline">Popular</span></a>
                    </li>
                </ul>
                <hr>
                <span id='user-quotes' class="fs-6 d-none d-lg-inline" style='font-style:italic; padding:0.5em; margin-bottom: +8px;'>"When something is important enough, you do it even if the odds are not in your favor."</span>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id='profile-image' src="media\profile_images\default.jpg" alt="" width="30" height="30" class="rounded-circle">
                        <span id='username-field' class="d-none d-md-inline mx-1">GUEST</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="admin/">Admin</a></li>
                        <li><a class="dropdown-item" href="profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="logout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <form class='form' style='position: sticky; top: 16px; z-index: 999;' id='twitt-create-form' method='POST' action='/twittit'>
                {% csrf_token %}
                <div class='d-none alert alert-danger' id='twitt-create-error'></div>
                <input type='hidden' value='/' name='next' />
                <textarea required='required' class='form-control' name='content' placeholder='Say something to the world...!'></textarea>
                <button class='btn btn-primary' style="
                    float:right;
                    background:#03a9f4;
                    transition:0.6s;
                    border:4px solid white;
                    border-radius:2em;
                    color:white;
                    font-style:italic;
                    padding:0.5em;
                    margin-top: +5px; 
                    transition:0.6s;" >Twitt'it
                </button>
                
                
            </form>
            <div id='twitts'>
                Bringing you the freshest news without the censorship... (Cuz we can't afford to moderate our platform.)
            </div>
            <a href="#" id="back-to-top" class="back-to-top bi-arrow-up-square-fill" style="display: inline;">Top</a>
        </div>
    </div>
</div>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function handleTwittFormError(message, display) {
        var errorDiv = document.getElementById('twitt-create-error')
        if (display === true) {
            errorDiv.setAttribute('class', 'd-block alert alert-danger')
            errorDiv.innerHTML = message
        } else {
            errorDiv.setAttribute('class', 'd-none alert alert-danger')
        }
    }

    function twittCreateFormSubmission(event) {
        event.preventDefault()
        const thisForm = event.target
        const thisFormData = new FormData(thisForm)
        const endpoint = thisForm.getAttribute('action')
        const method = thisForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        xhr.responseType = 'json'
        xhr.open(method, endpoint)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.onload = function() {
            if (xhr.status === 201)
            {
                const formattedTwitt = prettify(xhr.response)
                console.log(formattedTwitt)
                const originalHTML = twittsElementInDoc.innerHTML
                twittsElementInDoc.innerHTML = formattedTwitt + originalHTML
                handleTwittFormError('', false)
                thisForm.reset()
            } else if (xhr.status === 400) {
                const errorResponse = xhr.response
                let contentErrorMessage
                if (errorResponse.content) {
                    contentErrorMessage = errorResponse.content[0]
                    if (contentErrorMessage) {
                        handleTwittFormError(contentErrorMessage, true)
                    } else {
                        alert('An error occured. Please try again later.')
                    }
                } else {
                    alert('An error occured. Please try again later.')
                }
                console.log(contentErrorMessage)

            } else if (xhr.status == 401) {
                alert('You must be logged in to continue.')
                window.location.href = "/login"
            } else if (xhr.status == 403) {
                alert('You must be logged in to continue.')
                window.location.href = "/login"
            } 
            else if (xhr.status == 500) {
                alert('An error occured on the server.')
            }
        }
        xhr.onerror = function() {
            alert('A fatal error occured. Please try again later.')
        }
        xhr.send(thisFormData)
    }

    const twittCreateFormElementInDoc = document.getElementById('twitt-create-form')

    twittCreateFormElementInDoc.addEventListener("submit", twittCreateFormSubmission)


    const twittsElementInDoc = document.getElementById('twitts')

    function loadTwitts(twittsElement, url = '/twitts') {

        if (window.location.href.includes('?profiletwittslookup='))
        {
            queriedUser = (window.location.href.match(/\d+$/) || []).pop();
            url = '/api/profiles/' + queriedUser + '/twitts'
        } else
        {
            url = '/twitts'
        }
        console.log(url)

        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const listedItems = xhr.response
            var str = ""
            if (!window.location.href.includes('popular'))
            {
                for (var i = listedItems.length-1; i >= 0; i--) {
                var currentItem = prettify(listedItems[i])
                str += currentItem
            }
            }else {
                var sortedItems = listedItems
                for (var i = 0; i < sortedItems.length; i++) {
                    for (var j = i; j < sortedItems.length; j++)
                    {
                        if (sortedItems[j].likes > sortedItems[i].likes)
                        {
                            var temp = sortedItems[i]
                            sortedItems[i] = sortedItems[j]
                            sortedItems[j] = temp
                        }
                    }
                }
                for (var i = 0; i < sortedItems.length; i++) {
                var currentItem = prettify(sortedItems[i])
                str += currentItem
            }
        }
        //hashtag matching
        const hashtagRegEx = /(^|\s)[#|@]([^\d&%$_-]\w{2,49})\b/gis
            var matches = [...str.matchAll(hashtagRegEx)]
            for (var i = 0; i < matches.length; i++)
            {
                str = str.replace(matches[i][0], '<span style="color: #1E90FF">' + matches[i][0] + '</span>')
            }

        twittsElement.innerHTML = str
        }
        xhr.send()
    }

    function loadProfiles() {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/twitta'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            document.getElementById('username-field').innerHTML = xhr.response[0].name
            document.getElementById('user-quotes').innerHTML = "\"" + xhr.response[0].desc + "\""
        }
        xhr.send()
    }

    function LikeBtn(twitt) {
        return "<button class='btn btn-primary btn-sm' style='font-weight:bold;' onclick=onLike(" + twitt.id + "," + twitt.likes + ")>" + twitt.likes + " Likes</button>"
    }
    
    function DeleteBtn(twitt) {
        return "<button class='btn btn-primary btn-sm' style='background-color:crimson;' onclick=onDelete(" + twitt.id + ")> Delete</button>"
    }

    function onLike(twitt_id, currentLikes) {
        const url = "/api/twitts/action"
        const method = "POST"
        const data = JSON.stringify({
            id : twitt_id,
            action : 'like'
        })
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.setRequestHeader('X-CSRFToken', csrftoken)
        xhr.onload = function() {
            loadTwitts(twittsElementInDoc)
        }
        xhr.send(data)

        return
    }

    function onDelete(twitt_id) {

        if (!confirm("You are about to delete a Twitt. (This cannot be undone!)"))
        {
            return
        }

        const url = "/api/twitts/" + twitt_id + "/delete"
        const method = "DELETE"
        const data = JSON.stringify({
            id : twitt_id
        })
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.setRequestHeader('X-CSRFToken', csrftoken)
        xhr.onload = function() {
            {
                    if (xhr.status === 200)
                    {
                        alert('Twitt has been deleted.')
                    } else if (xhr.status === 401 ||xhr.status === 404) {
                            alert('You do not have permissions to delete this Twitt.')
                        } else {
                            alert('An error occured. Please try again later.')
                        }
                        console.log(contentErrorMessage)
                    }
                    xhr.onerror = function() {
                        alert('A fatal error occured. Please try again later.')
                    }

            loadTwitts(twittsElementInDoc)
        }
        xhr.send(data)

        return
    }

    window.onload = function () {
        loadProfiles()
        loadTwitts(twittsElementInDoc)
        setInterval(function(){loadTwitts(twittsElementInDoc)},3000);
        setInterval(function(){loadProfiles(twittsElementInDoc)},15000);
    }

    var userResponse = {}
    var profileResponse = {}

    function getOwner(twitt_id) {

        if (twitt_id in userResponse)
        {
            return
        }

        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/api/twitts/' + twitt_id + '/owner'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            getProfile(xhr.response[0].user)
            userResponse[twitt_id] = xhr.response[0]
        }
        xhr.send()
    }

    function getProfile(user_id) {

        if (user_id in profileResponse)
        {
            return
        }

        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/api/profiles/' + user_id
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            profileResponse[user_id] = xhr.response[0]
        }
        xhr.send()
    }

    function prettify(twitt) {
        // gigachad dev:
        getOwner(twitt.id)
        var datetime = 'Fetching data...'
        var name = 'Fetching data...'

        var user
        if (userResponse[twitt.id] !== undefined)
        {
            datetime = userResponse[twitt.id]['timestamp'] + "<span style='font-style:italic; font-weight: 300;'>" + " via Twittapp (" + twitt.id + ")</span>"
            user = userResponse[twitt.id]['user']
        }

        if (user !== undefined && profileResponse[user] !== undefined)
        {
            name = profileResponse[user]['name'] + "<span style='font-weight: 200; font-size: smaller;'> &nbsp[" + profileResponse[user]['title'] + "]</span>"
        }

        var formatted = "<div class='col-12 mb-4 border-top'><a style='text-decoration:none; color:black;' href='/?profiletwittslookup=" + user + "'><span style='font-weight: bold;'>&nbsp " + name + "</span></a>" + "<br><br>&nbsp " + twitt.content + "</div><div class='btn-group'>&nbsp " + LikeBtn(twitt) + DeleteBtn(twitt) + "</div>" +
        "<p style='font-style:italic; font-weight: 300;'>&nbsp " + datetime + "</p>"

        return formatted
    }

    
  var link = document.getElementById("back-to-top");
  var amountScrolled = 250;

  window.addEventListener('scroll', function(e) {
      if ( window.pageYOffset > amountScrolled ) {
          link.classList.add('show');
      } else {
          link.className = 'back-to-top';
      }
  });  
  link.addEventListener('click', function(e) {
      e.preventDefault();

      var distance = 0 - window.pageYOffset;
      var increments = distance/(500/256); // distance/(500/16)
      function animateScroll() {
          window.scrollBy(0, increments);
          if (window.pageYOffset <= document.body.offsetTop) {
              clearInterval(runAnimation);
          }
      };
      // Loop the animation function
      var runAnimation = setInterval(animateScroll, 16); //16
  });

</script>

<style>
    .back-to-top {
      background-color: #000000;
      color: #FFFFFF;
      opacity: 0;
      transition: opacity .6s ease-in-out;
      z-index: 999;
      position: fixed;
      right: 20px;
      bottom: 20px;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      border-radius: 40%;
    }
  
    a.back-to-top {
      font-weight: 1000;
      letter-spacing: 2px;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.6;
      padding-left: 2px;
      padding-top: 14px;
    }

    .back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
    color: #FFFFFF;
  }

  .back-to-top.show {
    opacity: 1;
  }
</style>



{% endblock content %}