{% extends 'base.html' %}

{% block titlebar %}
Twitta - Twitter without the E.
{% endblock titlebar %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Twitta</span>
                </a>
                <span>Twitter without the E.</span>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="home" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="popular" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Popular</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id='profile-image' src="media\profile_images\default.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span id='username-field' class="d-none d-sm-inline mx-1">GUEST</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="admin/">Dashboard</a></li>
                        <li><a class="dropdown-item" href="profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="logout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <form class='form' id='twitt-create-form' method='POST' action='/twittit'>
                {% csrf_token %}
                <div class='d-none alert alert-danger' id='twitt-create-error'></div>
                <input type='hidden' value='/' name='next' />
                <textarea required='required' class='form-control' name='content' placeholder='Say something to the world...!'></textarea>
                <button class='btn btn-primary' style="float: right;
                background:#03a9f4;
                transition:0.6s;
                border:4px solid white;
                border-radius:2em;
                color:white;
                font-style:italic;
                padding:0.5em;
                margin-top: +5px; 
                transition:0.6s;" >Twitt'it</button>
                
            </form>
            <div id='twitts'>
                Bringing you the freshest news without the censorship... (Cuz we can't afford to moderate our platform.)
            </div>
        </div>
    </div>
</div>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function handleTwittFormError(message, display) {
        var errorDiv = document.getElementById('twitt-create-error')
        if (display === true) {
            errorDiv.setAttribute('class', 'd-block alert alert-danger')
            errorDiv.innerHTML = message
        } else {
            errorDiv.setAttribute('class', 'd-none alert alert-danger')
        }
    }

    function twittCreateFormSubmission(event) {
        event.preventDefault()
        const thisForm = event.target
        const thisFormData = new FormData(thisForm)
        const endpoint = thisForm.getAttribute('action')
        const method = thisForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        xhr.responseType = 'json'
        xhr.open(method, endpoint)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.onload = function() {
            if (xhr.status === 201)
            {
                const formattedTwitt = prettify(xhr.response)
                console.log(formattedTwitt)
                const originalHTML = twittsElementInDoc.innerHTML
                twittsElementInDoc.innerHTML = formattedTwitt + originalHTML
                thisForm.reset()
            } else if (xhr.status === 400) {
                const errorResponse = xhr.response
                let contentErrorMessage
                if (errorResponse.content) {
                    contentErrorMessage = errorResponse.content[0]
                    if (contentErrorMessage) {
                        handleTwittFormError(contentErrorMessage, true)
                    } else {
                        alert('An error occured. Please try again later.')
                    }
                } else {
                    alert('An error occured. Please try again later.')
                }
                console.log(contentErrorMessage)

            } else if (xhr.status == 401) {
                alert('You must be logged in to continue.')
                window.location.href = "/login"
            } else if (xhr.status == 403) {
                alert('You must be logged in to continue.')
                window.location.href = "/login"
            } 
            else if (xhr.status == 500) {
                alert('An error occured on the server.')
            }
        }
        xhr.onerror = function() {
            alert('A fatal error occured. Please try again later.')
        }
        xhr.send(thisFormData)
    }

    const twittCreateFormElementInDoc = document.getElementById('twitt-create-form')

    twittCreateFormElementInDoc.addEventListener("submit", twittCreateFormSubmission)


    const twittsElementInDoc = document.getElementById('twitts')

    function loadTwitts(twittsElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/twitts'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const listedItems = xhr.response
            var str = ""
            if (!window.location.href.includes('popular'))
            {
                for (var i = listedItems.length-1; i >= 0; i--) {
                var currentItem = prettify(listedItems[i])
                str += currentItem
            }
            }else {
                var sortedItems = listedItems
                for (var i = 0; i < sortedItems.length; i++) {
                    for (var j = i; j < sortedItems.length; j++)
                    {
                        if (sortedItems[j].likes > sortedItems[i].likes)
                        {
                            var temp = sortedItems[i]
                            sortedItems[i] = sortedItems[j]
                            sortedItems[j] = temp
                        }
                    }
                }
                for (var i = 0; i < sortedItems.length; i++) {
                var currentItem = prettify(sortedItems[i])
                str += currentItem
            }
        }
        //hashtag matching
        const hashtagRegEx = /(^|\s)#([^\d&%$_-]\w{2,49})\b/gis
            var matches = [...str.matchAll(hashtagRegEx)]
            for (var i = 0; i < matches.length; i++)
            {
                str = str.replace(matches[i][0], '<span style="color: #0a08b2">' + matches[i][0] + '</span>')
            }

        twittsElement.innerHTML = str
        }
        xhr.send()
    }

    function loadProfiles() {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/twitta'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            document.getElementById('username-field').innerHTML = xhr.response[0].name
        }
        xhr.send()
    }

    function LikeBtn(twitt) {
        return "<button class='btn btn-primary btn-sm' onclick=onLike(" + twitt.id + "," + twitt.likes + ")>" + twitt.likes + " Likes</button>"
    }

    function onLike(twitt_id, currentLikes) {
        const url = "/api/twitts/action"
        const method = "POST"
        const data = JSON.stringify({
            id : twitt_id,
            action : 'like'
        })
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.setRequestHeader('X-CSRFToken', csrftoken)
        xhr.onload = function() {
            loadTwitts(twittsElementInDoc)
        }
        xhr.send(data)

        return
    }

    window.onload = function () {
        loadProfiles()
        loadTwitts(twittsElementInDoc)
        setInterval(function(){loadTwitts(twittsElementInDoc)},1500);
        setInterval(function(){loadProfiles(twittsElementInDoc)},10000);
    }

    var userResponse = {}
    var profileResponse = {}

    function getOwner(twitt_id) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/api/twitts/' + twitt_id + '/owner'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            getProfile(xhr.response[0].user)
            userResponse[twitt_id] = xhr.response[0]
        }
        xhr.send()
    }

    function getProfile(user_id) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/api/profiles/' + user_id
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            profileResponse[user_id] = xhr.response[0]
        }
        xhr.send()
    }

    function prettify(twitt) {
        // gigachad dev:
        getOwner(twitt.id)
        var datetime = 'Fetching data...'
        var name = 'Fetching data...'

        var user
        if (userResponse[twitt.id] !== undefined)
        {
            datetime = userResponse[twitt.id]['timestamp']
            user = userResponse[twitt.id]['user']
        }

        if (user !== undefined && profileResponse[user] !== undefined)
        {
            name = profileResponse[user]['name']
        }
        

        var formatted = "<div class='col-12 mb-4 border-top'>(" + twitt.id + ") " + name + " " + "<br><br>" + twitt.content + "</div><div class='btn-group'>" + LikeBtn(twitt) + "</div>" + "<p>" + datetime + "</p>"
        return formatted
    }

</script>
{% endblock content %}